@using RMCAplication.ViewModels.WarehouseViewModels;
@model WarehouseViewModel

<h2 class="mb-5 text-lg-center">Wearehouse: @Model.Name</h2>
<p class="mb-6 text-lg-center">@Model.Description</p>
<a asp-controller="Warehouse" asp-action="Index" class="btn btn-info mb-5 w-100 p-2 fw-bold">Back to Warehouses</a>
<div class="row">
  <div class="col">
      <h3>Tools</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tool in Model.Tools.OrderBy(x => x.Name))
                {
                    @if (tool.Count > 0 || tool.IsDeleted == false)
                    {
                        <tr>
                            <td>@tool.Name</td>
                            <td>@tool.Count</td>
                        </tr>
                    }                    
                }
            </tbody>
        </table>
  </div>
  <div class="col">
      <h3>Spare Parts</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sapePart in Model.SpareParts.OrderBy(x => x.Name))
                {
                    @if (sapePart.Count > 0 || sapePart.IsDeleted == false)
                    {
                        <tr>
                            <td>@sapePart.Name</td>
                            <td>@sapePart.Count</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
  </div>
  <div class="col">
      <h3>Consumable</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var consum in Model.Consumables.OrderBy(x => x.Name))
                {
                    @if (consum.Count > 0 || consum.IsDeleted == false)
                    {
                        <tr>
                            <td>@consum.Name</td>
                            <td>@consum.Count</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
  </div>
</div>
